        * {
            padding: 0;
            border: 0;
            margin: 0;
        }
        
        body {
            padding: 20px 20px 20px 20px;
            min-height: 200px;
            background-image: url("http://images.fanpop.com/images/image_uploads/Spice-Girls-spice-girls-231522_1024_768.jpg");
            background-repeat: no-repeat;
        }
        
        h1 {
            margin: 10px 0 15px 0;
        }
        
        h2 {
            margin: 10px 0 20px 0;
        }
        
        h3 {
            margin: 10px 0 10px 0;
        }
        
        p {
            font-size: 16px;
            line-height: .75em;
            padding: 2px;
            border-bottom: 1px solid #CCCCCC;
            padding-bottom: 3px;
        }
        
        ul {
            font-size: 14px;
            line-height: .75em;            
            border-bottom: 1px solid #CCCCCC;
            padding-bottom: 3px;
        }
        
        ol {
            font-size: 15px;
            line-heigt: .75em;
            padding: 2px;
        }
        
        li {
            font-size: 15px;
            padding: 4px;
        }
        
        .footer,
        .push {
            height: 4em;
            display: block;
            padding: 5px;
        }